.panel {
	all: initial;
	color: #fff7;
	background-color: #00c;
	display: grid;
	gap: 1px;
	font-family: system-ui;
	fontsize: 10px;
	grid-auto-flow: column;
	align-items: center;
	opacity: 0.25;
	position: fixed;
	right: 0;
	top: 0;
	transition-duration: 200ms;
	transition-property: opacity;
	z-index: 9999;
}

.panel:hover {
	opacity: 1;
}

.button {
	cursor: pointer;
	padding: 4px;
	background-color: #000;
	color: #777;
	transition-duration: 200ms;
	transition-property: color;
}

.button:hover {
	color: #ccc;
}

.button:active {
	color: #00ca54;
}

.icon {
	display: block;
	width: 18px;
	height: 18px;
}
