.hStack {
  --column-gap: 0px;
  --row-gap: 0px;

  margin: calc(var(--row-gap) / -2) calc(var(--column-gap) / -2);

  > * {
    margin: calc(var(--row-gap) / 2) calc(var(--column-gap) / 2);
  }

  @screen sm {
    margin: calc(var(--sm-row-gap, var(--row-gap)) / -2)
      calc(var(--sm-column-gap, var(--column-gap)) / -2);

    > * {
      margin: calc(var(--sm-row-gap, var(--row-gap)) / 2)
        calc(var(--sm-column-gap, var(--column-gap)) / 2);
    }
  }

  @screen md {
    margin: calc(var(--md-row-gap, var(--sm-row-gap, var(--row-gap))) / -2)
      calc(var(--md-column-gap, var(--sm-column-gap, var(--column-gap))) / -2);

    > * {
      margin: calc(var(--md-row-gap, var(--sm-row-gap, var(--row-gap))) / 2)
        calc(var(--md-column-gap, var(--sm-column-gap, var(--column-gap))) / 2);
    }
  }
}
