.container {
	display: flex;
	font-family: system-ui;
	align-items: start;
	color: #333;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.aside {
	display: grid;
	gap: 1px;
	color: #949698;
	text-align: right;
	margin-right: 3.75rem;
	transform: translateY(-9px);
}

.colorHeading {
	text-transform: capitalize;
}

.lineGrid {
	display: grid;
	gap: 1px;
	position: relative;
	background: #d8d8d8;
	border: 1px solid #d8d8d8;
	width: min-content;
}

.gridCell {
	background: #fff;
	position: relative;
}

.color {
	position: absolute;
}

.colorCircle {
	width: 3.5rem;
	height: 3.5rem;
	border-radius: 50%;
}

.popover {
	position: absolute;
	text-align: center;
	left: 50%;
	transform: translate(-50%, 15%);
	box-shadow:
		0 4px 6px -1px rgba(0, 0, 0, 0.2),
		0 2px 4px -1px rgba(0, 0, 0, 0.2);
	padding: 0.65rem 1.5rem;
	background: white;
	border-radius: 6px;
	transition: opacity 0.15s ease-out;
}

.popoverName {
	text-transform: capitalize;
	white-space: nowrap;
	font-weight: 700;
	font-size: 0.9375rem;
	line-height: 1;
}
