body {
  background: #fff;
}

.sb-show-main {
  box-sizing: inherit !important;
  background-color: #fff;
}

.sb-show-main.sb-main-padded {
  padding: 0;
}

.sb-show-nopreview {
  background-color: #fff;
}

.sbdocs-content {
  max-width: 850px !important;
}

.sbdocs-h1,
.sbdocs-h2,
.sbdocs-h3,
.sbdocs-h4,
.sbdocs-h5,
.sbdocs-h6 {
  font-weight: bold;
}

.sbdocs-ul .sbdocs-li {
  list-style: disc;
}

.sbdocs-ol .sbdocs-li {
  list-style: decimal;
}

.sbdocs-preview {
  /* width: 100vw; */
  margin-left: calc(0px - ((100vw - 100%) / 2) + 1rem) !important;
  margin-right: calc(0px - ((100vw - 100%) / 2) + 1rem) !important;
}

.sbdocs-preview > div > div {
  padding: 0;
  margin: 0;
}

.sbdocs-preview > div > div > div > div {
  background-color: rgba(255, 255, 255, 0) !important;
}
