.opaque {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  margin-right: -250px;

  @screen container {
    --gutter-size: calc(100vw - 1224px);
    --offset-amnt: calc(var(--gutter-size) / -2);

    margin-left: var(--offset-amnt);
    margin-right: calc(var(--offset-amnt) - 1200px);
  }
}

.solid {
  left: 0;
  right: 0;
  top: 36px;
  bottom: 0;

  margin-left: -50px;

  @screen container {
    --gutter-size: calc(100vw - 1224px);
    --offset-amnt: calc(var(--gutter-size) / -2);

    top: 120px;
    margin-left: calc(var(--offset-amnt) - 350px);
    margin-right: var(--offset-amnt);
  }
}

.opaqueReverse {
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;

  margin-left: -250px;

  @screen container {
    --gutter-size: calc(100vw - 1224px);
    --offset-amnt: calc(var(--gutter-size) / -2);

    margin-right: var(--offset-amnt);
    margin-left: calc(var(--offset-amnt) - 1200px);
  }
}

.solidReverse {
  right: 0;
  left: 0;
  top: 36px;
  bottom: 0;

  margin-right: -50px;

  @screen container {
    --gutter-size: calc(100vw - 1224px);
    --offset-amnt: calc(var(--gutter-size) / -2);

    top: 120px;

    margin-right: calc(var(--offset-amnt) - 350px);
    margin-left: var(--offset-amnt);
  }
}
